body {
  direction: rtl !important;
}

.footer-widget .widget_title:before {
  right: 0;
}

.footer-widget.widget_meta a:before,
.footer-widget.widget_pages a:before,
.footer-widget.widget_archive a:before,
.footer-widget.widget_categories a:before,
.footer-widget.widget_nav_menu a:before {
  display: inline-block;
  right: 0;
  content: "\f30b";
  font-family: var(--icon-font);
  margin-inline-end: 10px;
  transform: rotate(180deg);
}


.vs-list li:before, .about-list li:before{
  right: 0px;
  left: unset;
}

.vs-list li, .about-list li {
  padding-right: 35px;
  padding-left: 0px;
}

.list-inline, .list-unstyled{
  padding-right: 0px;
}

.head-top-links>li:before{
  right: unset;
  left: 0px;
}

.head-top-links>li{
  padding-left: 31px;
  padding-right:0px ;
}

.head-top-links .dropdown-toggle:after{
  margin-left: 0px;
  margin-right: 5px;
}

.text-xl-start {
  text-align: right ;
}

.address-line i{
  left: unset;
  right: 0;
}

.address-line{
  padding-right: 30px;
  padding-left: 0;
}


.header-btn:before, .header-call.phone-box:before{
  left: unset;
  right: 0;
}

.header-btn.style2, .header-call.phone-box.style2{
  padding-right: 30px;
  margin-right: 0;
  padding-left: unset;
  margin-left: unset;

}

/* .vs-carousel {
  direction: rtl !important;
}

.vs-carousel .slick-track,
.vs-carousel .owl-stage {
  transform: none !important;
} */

 .vs-carousel {
  direction: rtl !important;
}


.vs-mobile-menu ul li a:before {
  /* left: unset;
  right: 0;
  transform: rotate(180deg); */
  display: none;
}

.form-group>i{
  left: 30px;
  right: unset;
}

.form-select{
  background-position: left 1.3rem center;
}

.form-select.style3,
.form-select.style2,
.form-control.style3,
.form-control.style2 {
  padding-right: 30px;
}

.form-select.style3~i,
.form-select.style2~i,
.form-control.style3~i,
.form-control.style2~i {
  left: calc(var(--bs-gutter-x) + 15px);
  right: unset;
}

.breadcumb-menu li:after{
  left: 0;
  right: unset;
}